<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
    <!--Navbar -->
    <nav class="mb-1 navbar navbar-expand-lg navbar-dark orange lighten-1" style="background-color: #002f69">
        <a class="navbar-brand" href="#"><b>Gia Dinh University</b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
            aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
            <ul class="navbar-nav mr-auto" style="position: absolute;left: 50%;">
                <li class="nav-item active">
                    <a name="" id="" class="btn btn-primary" href="/exam/manage_exam" role="button">Tham gia thi</a>
                    <!-- <a class="nav-link" href="#">
                        <span class="sr-only">(current)</span>
                    </a> -->
                </li>
            </ul>
            <ul class="navbar-nav ml-auto nav-flex-icons">
                <li class="nav-item avatar">
                    <a class="nav-link p-0" id="navbarDropdownMenuLink-55" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <img src="/img/<%= user.student_code %>.jpg" class="rounded-circle z-depth-0" alt="avatar image"
                            height="35">
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg-right dropdown-secondary"
                        aria-labelledby="navbarDropdownMenuLink-55">
                        <a class="dropdown-item" href="#">Tài khoản</a>
                        <a class="dropdown-item" href="/users/logout">Đăng xuất</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <!--/.Navbar -->
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <div>
                    <h3 class="text-center">Thông tin cá nhân</h3>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr></tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Họ tên</td>
                                <td><%= user.full_name %></td>
                            </tr>
                            <tr>
                                <td>Mã số sinh viên</td>
                                <td><%= user.student_code %></td>
                            </tr>
                            <tr>
                                <td>Lớp</td>
                                <td>11DHCTPM</td>
                            </tr>
                            <tr>
                                <td>CMND</td>
                                <td><%= user.identity_card_number %></td>
                            </tr>
                            <tr>
                                <td>Giới tính</td>
                                <td><%= user.sex %></td>
                            </tr>
                            <tr>
                                <td>Ngày sinh</td>
                                <td><%= user.date_of_birth %></td>
                            </tr>
                            <tr>
                                <td>Nơi sinh</td>
                                <td><%= user.date_of_birth %></td>
                            </tr>
                            <tr>
                                <td>Địa Chỉ</td>
                                <td><%= user.place_of_birth %></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-sm-7">
                <h3 class="text-center">Điểm</h3>
                <div class="table-responsive">
                    <table class="table fixed_header">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Môn học</th>
                                <th>Điểm</th>
                                <th>Học kỳ</th>
                                <th>Ngày thi</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <% for(var i=0; i<user.marks.length; i++) { var j = 0; %>
                            <tr>
                                <td><%=  j = i+1 %></td>
                                <td><%= user.marks[i].subject %></td>
                                <td><%= user.marks[i].exam_score %></td>
                                <td><%= user.marks[i].semester %></td>
                                <td><%= user.marks[i].date %></td>
                            </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/jquery-3.3.1.slim.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/business/login.js"></script>
    <script>
        loginNewUser();
        // navigator.serviceWorker.getRegistrations().then(function (registrations) { for (let registration of registrations) { registration.unregister() } })
        // window.WebSocket = window.WebSocket || window.MozWebSocket;
        var host = location.origin.replace(/^http/, 'ws')
        var connection = new WebSocket(host);

        connection.onopen = function (message) {
            //console.log("Mo ket noi");
            connection.send('<%= user.student_code %>');
        };

        connection.onmessage = function (message) {
            try {
                //console.log(message)
                var mssv = JSON.parse(message.data).data
                if (mssv == '<%= user.student_code %>') {
                    console.log("ok")
                    logoutOldUser();
                }
            } catch (error) {

            }

        };

        // loginNewUser();
        //logoutOldUser();

        function loginNewUser() {
            var key = Math.random().toString(36).substring(7);
            var dsNhatKy = Doc_Danh_sach_Nhat_ky();
            var nhatKy = {};
            for (var i = 0; i < dsNhatKy.length; i++) {
                if (dsNhatKy[i].student_code == `<%= user.student_code %>`) {
                    if (dsNhatKy[i].status == "active" && dsNhatKy[i].keyConnect != localStorage.getItem("keyConnect")) {
                        nhatKy.student_code = dsNhatKy[i].student_code;
                        nhatKy.status = "anotherUserLogin";
                        localStorage.setItem("keyConnect", key);
                        nhatKy.keyConnect = key;
                        Ghi_nhat_ky(nhatKy);
                    }
                    else if (dsNhatKy[i].status == "offline") {
                        nhatKy.student_code = dsNhatKy[i].student_code;
                        nhatKy.status = "active";
                        localStorage.setItem("keyConnect", key);
                        nhatKy.keyConnect = key;
                        Ghi_nhat_ky(nhatKy);
                    }
                }
            }
        }

        function logoutOldUser() {
            var dsNhatKy = Doc_Danh_sach_Nhat_ky();
            var nhatKy = {};
            var keyLocal = localStorage.getItem("keyConnect");
            for (var i = 0; i < dsNhatKy.length; i++) {
                if (dsNhatKy[i].student_code == `<%= user.student_code %>`) {
                    if (dsNhatKy[i].status == "anotherUserLogin" && dsNhatKy[i].keyConnect != keyLocal) {
                        nhatKy.student_code = dsNhatKy[i].student_code;
                        nhatKy.status = "active";
                        nhatKy.keyConnect = dsNhatKy[i].keyConnect;
                        Ghi_nhat_ky(nhatKy);
                        localStorage.removeItem("keyConnect");
                        document.location.href = "/users/logout";
                    }
                }
            }

        }


        checkExamAlready();

        function checkExamAlready() {
            if (localStorage.getItem("timeCount") != undefined && localStorage.getItem("student_code") == `<%= user.student_code %>`) {
                document.location.href = "/exam/take_exam";
            }
        }
    </script>
</body>

</html>