<!doctype html>
<html lang="en">

<head>
    <title>Thông tin bài thi</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/img/iconGDU.ico" rel="shortcut icon" type="image/x-icon" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/manage_exam.css">
    <link rel="stylesheet" href="/css/login.css">
    </style>
    <style>
    </style>
</head>

<body background="/img/backgroundGDU.jpg" style="background-size:cover;">
    <div id="thong_tin" style="background: hsla(84,100%,100%,0.8)" class="container hidden">
            <div style="text-align:center;"><img src="/img/logoGDU.png" alt="Smiley face" width="10%" height="10%"></div>
        <h2 style="text-align:center" id="chu_de"></h2>
        <div class="columns">
            <ul class="price">
                <li class="header">Thông tin thí sinh</li>
                <li class="grey">
                    <div>
                        <p style="float: left;margin-bottom: 5px;">Họ tên :</p>
                        <p style="float: right;margin-bottom: 5px;"><%= user.full_name %></p>
                        <div style="clear: both;"></div>
                    </div>
                </li>
                <li class="grey">
                    <div>
                        <p style="float: left;margin-bottom: 5px;">MSSV:</p>
                        <p style="float: right;margin-bottom: 5px;"><%= user.student_code %></p>
                        <div style="clear: both;"></div>
                    </div>
                </li>
                <li class="grey">
                    <div>
                        <p style="float: left;margin-bottom: 5px;">Số CMND:</p>
                        <p style="float: right;margin-bottom: 5px;"><%= user.identity_card_number %></p>
                        <div style="clear: both;"></div>
                    </div>
                </li>
                <li class="grey">
                    <div>
                        <p style="float: left;margin-bottom: 5px;">Lớp:</p>
                        <p style="float: right;margin-bottom: 5px;"><%= user.student_class.class_name %></p>
                        <div style="clear: both;"></div>
                    </div>
                </li>
                <li class="grey">
                    <div>
                        <p style="float: left;margin-bottom: 5px;">Ngày sinh:</p>
                        <p style="float: right;margin-bottom: 5px;"><%= user.date_of_birth %></p>
                        <div style="clear: both;"></div>
                    </div>
                </li>
                <li class="grey">
                    <div>
                        <p style="float: left;margin-bottom: 5px;">Khoa:</p>
                        <p style="float: right;margin-bottom: 5px;"><%= user.student_class.faculty %></p>
                        <div style="clear: both;"></div>
                    </div>
                </li>
                <li class="grey">
                    <div>
                        <p style="float: left;margin-bottom: 5px;">Giới tính:</p>
                        <p style="float: right;margin-bottom: 5px;"><%= user.sex %></p>
                        <div style="clear: both;"></div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="columns">
            <ul class="price">
                <li class="header">Thông tin bài thi</li>
                <li class="grey">
                    <div>
                        <p style="float: left;margin-bottom: 5px;"> Mã đề :</p>
                        <p style="float: right;margin-bottom: 5px;" id="ma_de_thi"></p>
                        <div style="clear: both;"></div>
                    </div>
                </li>
                <li class="grey">
                    <div>
                        <p style="float: left;margin-bottom: 5px;"> Môn học:</p>
                        <p style="float: right;margin-bottom: 5px;" id="mon_hoc"></p>
                        <div style="clear: both;"></div>
                    </div>
                </li>
                <li class="grey">
                    <div>
                        <p style="float: left;margin-bottom: 5px;"> Học kỳ:</p>
                        <p style="float: right;margin-bottom: 5px;" id="hoc_ky"></p>
                        <div style="clear: both;"></div>
                    </div>
                </li>
                <li class="grey">
                    <div>
                        <p style="float: left;margin-bottom: 5px;"> Ngày làm:</p>
                        <p style="float: right;margin-bottom: 5px;" id="ngay_lam"></p>
                        <div style="clear: both;"></div>
                    </div>
                </li>
                <li class="grey">
                    <div>
                        <p style="float: left;margin-bottom: 5px;"> Thời gian:</p>
                        <p style="float: right;margin-bottom: 5px;" id="thoi_gian"></p>
                        <div style="clear: both;"></div>
                    </div>
                </li>
                <li class="grey">
                    <div>
                        <p style="float: left;margin-bottom: 5px;"> Số câu hỏi:</p>
                        <p style="float: right;margin-bottom: 5px;" id="so_cau_hoi"></p>
                        <div style="clear: both;"></div>
                    </div>
                </li>
                <li class="grey">

                        <button type="button" class="btn btn-primary" style="width: 100%;height: 100px;font-size: 30px;background-color: #214a80" id="bat_dau_thi"><strong>Bắt đầu thi</strong> </button>
                </li>
            </ul>
        </div>
    </div>

    <div class="login-dark" id="nhap_ma_de">
        <div class="form" style="background-color:hsla(84,100%,100%,0.8);">
            <div class="illustration"><img src="/img/logoGDU.png" alt="Smiley face" width="100%" height="100%"></div>
            <label id="thong_bao" style="color: red;text-align: center"></label>
            <div class="form-group"><input class="form-control" style="color: black;" id="exam_code" type="text"
                    name="student_code" placeholder="Nhập mã đề"></div>
            <div class="form-group"><button class="btn btn-primary btn-block" style="background-color: #214a80" id="dong_y" type="submit">Đồng ý</button>
                <input id="test_student_code" type="hidden" value=<%= user.student_code %>>
            </div>
            <a name="" id="" href="/users/home" style="margin-left: 20%" role="button"><b>Quay về trang chủ</b></a>
        </div>
    </div>

    </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/js/jquery-3.3.1.slim.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/business/data.js"></script>
    <script src="/business/manage_exam.js"></script>
    <script src="/business/home.js"></script>
    <script>
        localStorage.setItem("student_code", test_student_code.value)
        loginNewUser('<%= user.student_code %>');
        getConnectionWebSocket('<%= user.student_code %>');
        logoutOldUser('<%= user.student_code %>');
        lougout('<%= user.student_code %>');
    </script>
</body>

</html>